<table class="table table-info table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in items">
            <th scope="row">{{$index + 1 }}</th>
            <td>{{item.name}}</td>
            <td>{{item.description}}</td>
            <td><button class="btn btn-outline-danger p-0" type="button" id="button-addon2"
                    ng-click="onRemove({index:$index})">Don't want this one!</button></td>
        </tr>
    </tbody>
</table>