<div class="row justify-content-center">
    <div class="col p-4 text-center">
        <h4>Welcome to the review of<span class="h3"><b>&nbsp;Module 2 - To Buy&nbsp;</b></span>Application</h4>
    </div>
</div>

<div class="row justify-content-center">
    <div ng-controller="ToBuyController as toBuy" class="col col-sm-6 text-center">
        <h5>To Buy</h5><br />
        <ul class="list-group list-group-flush">
            <li class="list-group-item" ng-repeat="item in toBuy.toBuyList"> Buy {{item.quantity}} {{item.name}}
                &nbsp;
                <button class="btn btn-info btn-sm" ng-click="toBuy.buyClicked($index)">Buy</button>
            </li>
        </ul>
        <h6 ng-if="toBuy.toBuyList.length == 0" class="text-danger">Everything is bought!</h6>
    </div>
    <div ng-controller="AlreadyBoughtController as ab" class="col col-sm-6 text-center">
        <h5>Already Bought</h5><br />
        <ul ng-if="ab.alreadyBoughtList.length > 0" class="list-group list-group-flush">
            <li class="list-group-item" ng-repeat="item in ab.alreadyBoughtList"> Bought {{item.quantity}}
                {{item.name}}
            </li>
        </ul>
        <h6 ng-if="ab.alreadyBoughtList.length == 0" class="text-danger">Nothing bought yet!</h6>
    </div>
</div>